doctype html 
html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/node-256.png")
        title="Pug JS"
    body
        
        if (productos.length)        
                div(class="container")
                    h2 Listado de productos 
                    div(class="row")
                        div(class="col-12")
                            table(class="table table-striped")
                                thead
                                    tr(class = " table-danger")
                                        th(scope="col") ID 
                                        th(scope="col") Nombre
                                        th(scope="col") Precio
                                        th(scope="col") Imagen
                                tbody 
                                each elem in productos
                                    tr 
                                        th(scope="row")=elem.id
                                        th(scope="row")=elem.title
                                        th(scope="row")=elem.price
                                        th(scope="row")
                                            img(src= elem.thumbnail width="10%")
        else
            h2 Lamentablemente no se encontro ningun producto cargado 

        div(class="d-grid gap-2 col-6 mx-auto")
            button(class="btn btn-primary" type="button" href="/api") Regresar al formulario
